.container{
    max-width: 800px;
}

header{
    margin-top: 20px;
    margin-bottom: 50px;
}

#numberWrapper{
    position: absolute;
    left: 50%;
    max-width: 600px;    
}

#generatedNumbers{
    position: relative;
    left: -50%;
    word-wrap: break-word;
    justify-content: center;
    text-align: center;
    padding: 10px;    
}

.hidden{
    display: none;
}

#decimalCheckboxLabel{
    padding-top: 25px;
}

@media screen and (max-width: 1200px){
    #numberWrapper{
        max-width: 400px;    
    }
}

@media screen and (max-width: 801px){
    #numberWrapper{
        max-width: 300px;    
    }
}

@media screen and (max-width: 601px){
    #numberWrapper{
        max-width: 200px;    
    }

    #decimalCheckboxLabel{
        padding-top: 0px;
        padding-bottom: 40px;
    }
}
